---
import type { NavItem } from '@data/navigation'
import { isPartOfCurrentPath } from '@utils/isCurrentPath'
import Link from '@components/Link.astro'

type Props = NavItem

const { href, name } = Astro.props

const isActive = isPartOfCurrentPath(Astro.request.url, href)
---

<li>
  <Link
    href={href}
    class:list={[
      'relative block px-3 py-2 transition',
      isActive
        ? 'text-teal-500 dark:text-teal-400'
        : 'hover:text-teal-500 dark:hover:text-teal-400',
    ]}
  >
    {name}
    {
      isActive && (
        <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-500/0 via-teal-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0" />
      )
    }
  </Link>
</li>
