{% assign entries = site.categories[include.category] %}
{% assign category_permalink = site.data.collections[include.category].permalink %}
{% assign items = entries | where: "feature", true | sort: 'date' | reverse %}

<div class="feature__wrapper">

  {% for post in items limit: 3 %}
    {% assign teaser_image_path = post.header.teaser %}
    {% assign teaser_alt = post.header.image_description %}
    {% assign image_caption = post.header.teaser_caption| markdownify | remove: "<p>" | remove: "</p>" %}
    {% assign title =  post.title | markdownify | remove: "<p>" | remove: "</p>" %}
    {% assign excerpt = post.excerpt | markdownify | remove: "<p>" | remove: "</p>" %}

    <div class="feature__item{% if include.type %}--{{ include.type }}{% endif %}">
      <article class="archive__item"  itemscope itemtype="https://schema.org/CreativeWork">
        {% if teaser_image_path %}
          <div class="archive__item-teaser">
            <img src="{{ teaser_image_path | relative_url }}"
                alt="{% if teaser_alt %}{{ teaser_alt }}{% endif %}">
            {% if f.image_caption %}
              <span class="archive__item-caption">{{ f.image_caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
            {% endif %}
          </div>
        {% endif %}

        <div class="archive__item-body">
          {% if title %}
            <h2 class="archive__item-title" itemprop="headline">
              {% if post.link %}
                <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
              {% else %}
                <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
              {% endif %}
            </h2>
          {% endif %}

          {% if excerpt %}
            <div class="archive__item-excerpt" itemprop="description">
              {{ excerpt | markdownify }}
            </div>
          {% endif %}
        </div>
      </article>
    </div>
  {% endfor %}

  <div class="feature__item--center">
    <a href="{{ category_permalink | relative_url }}" class="text-center btn btn--info">See all {{include.category}}</a>
  </div>

</div>

