---
import BriefcaseIcon from 'astro-heroicons/solid/Briefcase.astro'
import { resume } from '@data/resume'
import ResumeItem from './ResumeItem.astro'
import Button from '@components/Button.astro'
import { hrefTo } from '@data/navigation'
import { LinkedInSocialLink } from '@data/SocialLinks'
import { Icon } from 'astro-iconify'
---

<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <BriefcaseIcon class="h-6 w-6 flex-none" />
    <span class="ml-3">Work</span>
  </h2>
  <ol class="mt-6 space-y-4">
    {resume.map((role) => <ResumeItem {...role} />)}
  </ol>
  <Button
    href={hrefTo(LinkedInSocialLink)}
    variant="secondary"
    class="group mt-6 w-full"
  >
    {LinkedInSocialLink.text}
    <Icon
      name={LinkedInSocialLink.iconName}
      class="h-4 w-4 stroke-zinc-400 transition group-active:stroke-zinc-600 dark:group-hover:stroke-zinc-50 dark:group-active:stroke-zinc-50"
    />
  </Button>
</div>
