---
import type { DateLike } from '@/mytypes'
import { formatDate } from '@utils/formatDate'

type CardEyebrowComponent = 'p' | 'time' | 'span'

interface Props {
  as?: CardEyebrowComponent
  class?: string
  decorate?: boolean
  dateTime?: DateLike
  pin?: boolean
}
const {
  dateTime,
  class: className,
  as: Component = 'p',
  pin = true,
  decorate = false,
} = Astro.props
---

<Component
  class:list={[
    className,
    'relative z-10 mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500',
    pin && 'order-first',
    decorate && 'pl-3.5',
  ]}
  datetime={formatDate(dateTime)}
>
  {
    decorate && (
      <span
        class="absolute inset-y-0 left-0 flex items-center"
        aria-hidden="true"
      >
        <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500" />
      </span>
    )
  }
  <slot />
</Component>
