---
import { AUTHOR } from '@/consts'
import { navItems } from '@data/navigation'
import InnerContainer from '@components/Container/InnerContainer.astro'
import OuterContainer from '@components/Container/OuterContainer.astro'
import FooterNavLink from './FooterNavLink.astro'
---

<footer class="mt-32">
  <OuterContainer>
    <div class="border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40">
      <InnerContainer>
        <div
          class="flex flex-col items-center justify-between gap-6 sm:flex-row"
        >
          <div
            class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200"
          >
            {navItems.map((item) => <FooterNavLink {...item} />)}
          </div>
          <p class="text-sm text-zinc-400 dark:text-zinc-500">
            &copy; {new Date().getFullYear()}
            {AUTHOR}. All rights reserved.
          </p>
        </div>
      </InnerContainer>
    </div>
  </OuterContainer>
</footer>
